version: "3.8"

services:
  subscription:
    build:
      context: ./subscription
      dockerfile: Dockerfile
    container_name: singbox-subscription
    restart: unless-stopped
    network_mode: host
    volumes:
      - ./.env:/app/.env:ro
      - ./cert:/etc/sing-box/tls:ro
    depends_on:
      - sing-box
  sing-box:
    image: ghcr.io/sagernet/sing-box:latest-beta
    container_name: sing-box-server
    restart: unless-stopped
    network_mode: host
    volumes:
      - ./config/config.json:/etc/sing-box/config.json:ro
      - ./cert:/etc/sing-box/tls:ro
      - ./logs/sing-box.log:/var/log/sing-box/sing-box.log
    cap_add:
      - NET_ADMIN
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "5"
    command: -D /var/lib/sing-box -C /etc/sing-box/ run
  netbird:
    image: netbirdio/netbird:latest
    container_name: netbird
    restart: unless-stopped
    network_mode: host
    cap_add:
      - NET_ADMIN
    devices:
      - "/dev/net/tun:/dev/net/tun"
    volumes:
      - ./netbird:/etc/netbird
    env_file:
      - ./.env
  snell:
    image: funnyzak/snell-server:v3.0.1
    container_name: snell-server
    restart: unless-stopped
    network_mode: host
    volumes:
      - ./snell.conf:/etc/snell/snell-server.conf:ro
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "5"
